@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cormorant&family=EB+Garamond&family=Spirax&display=swap');

body {
    font-family: 'Alice', serif;
    font-size: 50px;
    /* overflow: hidden;
    height: 100vh;
    width: 100vw; */
    margin: 0;
}
* {
    box-sizing: border-box;
    transition: font-size 250ms ease-in-out;
}
.App {
  text-align: center;
  height: 100%;
  /* width: 100%; */
  z-index: -1;
}
.content {
    background: rgba(0, 162, 255, 0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Alice', serif;
    padding: 2rem;
}

.page {
    /* height: 100vh;
    width: 100vw; */
    /* overflow-y: auto; */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    padding: 1rem 0;
    background-position: center;
}

.page.bg-right {
    background-position: right;
}

.header {
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
}

.contents-page {
    display: flex;
    flex-direction: column;
    /* color: #fff; */
    gap: 2rem;
    justify-content: space-around;
    box-sizing: border-box;
}

.contents-page * p {
    margin: 0;
    /* width: 60%; */
}


.contents-page > *, div.content-container {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 25px;
}

.contents-page > div, .content-container {
    font-size: 1.75rem;
    text-align: justify; 
    background-color: rgba(68, 56, 139, 0.877);
    padding: 2rem;
    
    line-height: 1.6;
}

.contents-page .wider {
    width: 80%;
}
.contents-page .image, .contents-page .embed {
    background-color: rgba(0,0,0,0);
    text-align: center;
    padding:0;
}
.contents-page .image {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 80%;
    gap: 1rem;
    align-items: center;
    
}

.image.background {
    background-color: rgba(68, 56, 139, 0.877);
}

.embed iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.embed {
    min-height: 60vh;
    border-radius: 25px;
}
.image img {
    /* max-width: 30%; */
    /* max-height: 40vh; */
    height: auto;
    width: 100%;
    border-radius: 25px;
}

.contents-page ul {
    padding: 0 2rem;
    margin: 0;
}

li {
    padding-inline-start: 1ch;
}

/* .contents-page li {
    list-style-type: '♥'; 
}

.contents-page li li {
    list-style-type: '♣';
} */
.list-clubs > li {
    list-style-type: '♣';
}

.list-hearts > li {
    list-style-type: '♥';
}

.list-spades > li {
    list-style-type: '♠';
}

@media (max-width: 800px) {
    .image img {
        max-width: 100%;
    }
    .image {
        max-width: 95%;
    }
    .contents-page > * {
        width: 95%;
        border-radius: 12.5px;
        /* margin: 0; */
    }
    .contents-page * {
        font-size: 1rem;
    }
    /* .contents-page * {
        max-width: 85vh;
    } */
    .contents-page > div {
        padding:0.5rem;
    }
}