body {
    font-family: 'Alice', serif;
    font-size: 50px;
    /* overflow: hidden;
    height: 100vh;
    width: 100vw; */
    margin: 0;
}
.App {
  text-align: center;
  height: 100%;
  /* width: 100%; */
  z-index: -1;
}
.content {
    background: rgba(0, 162, 255, 0.1);
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Alice', serif;
    padding: 2rem;
}

.page {
    /* height: 100vh;
    width: 100vw; */
    overflow-y: auto;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
}