.Arcanum {
    background-image: url("../assets/media/images/alice_13.png");
}
/* .Arcanum > div > p, .Arcanum > div > div > p {
    background-color: rgba(68, 56, 139, 0.877);
    border-radius: 25px;
    padding: 20px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
} */
.banner {
    /* width: 100vw; */
    /* margin: 0; */
}
.titleArcanum {
    margin: 0;
}
/* .cadPane {
    flex: 45%;
} */
/* .playingField {
    top: 25%;
    width: 95%;
    height: 50vh;
    position: sticky;
    position: -webkit-sticky;
} */
.contentPane {
    flex: 55%;
    margin: 0px, 20px, 0px;
}
@media (max-width: 850px) {
    .cadPane, .contentPane {
        flex-direction: column;
    }
}

