.BGDark {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
}

.BGLight {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: none;
}

.container {
    z-index: 100000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap;
    height: 100%;
}

.row1, .row3 {
    align-self: center;
}

.vial, .cake {
    height: 200px;
}
.title {
    height: 500px;
}

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Cormorant+Garamond:wght@300&family=Spirax&display=swap');

h1 {
    font-family: 'Alice', serif;
}