.Journey {
    background: url("../assets/media/images/BG5downtherabbithole.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
    color: #FFF;
}
/* #dtrhTitle {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: rgb(0, 0, 0);
} */
.pairs {
    width: 92%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
}

.contentBlurb {
    background-color: rgba(68, 56, 139, 0.877);
    margin-top: 0;
    border: 4px outset #FFF !important;
    width: 45%; /*this is breaking too much*/
    padding: 20px;
    border-radius: 100px;
    /* height: 100%; */
    overflow-y: scroll;
}

.mediaBlurb {
    width: 50%;
}

.mediaBlurb > img {
    width: 50%;
    max-height: 50%;
    border-radius: 50px;
    border: 8px outset #FFF !important;
}

.pairs:nth-child(even) > .contentBlurb {
    order: 2;
}
.pairs:nth-child(odd) > .contentBlurb {
    order: -1;
}

@media (max-width: 1043px) {
    .pairs:nth-child(even) > .contentBlurb {
        order: 1;
    }
    .pairs:nth-child(odd) > .contentBlurb {
        order: 1;
    }
    .pairs {
        width: 100%;
        flex-direction: column;
    }
    .mediaBlurb {
        width: 100%;
    }
    .contentBlurb {
        width: 95%;
    }
    /* #dtrhTitle {
        background-color: rgba(68, 56, 139, 0.877);
        border-radius: 100px;
    } */
}