.Journey {
    background-image: url("../assets/media/images/BG5downtherabbithole.png");
}
.pairs {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
    gap: 2rem;
    justify-content: space-around;
}
.pairs > .contentBlurb {
    flex-grow: 2;
    /* max-width:60%; */
}
.pairs > .mediaBlurb {
    /* flex-grow: 2; */
    /* width:100%; */
    /* max-width:60%; */
    min-width:40%;
}

.mediaBlurb > img, .mediaBlurb > iframe {
    border-radius: 25px;
    width: 100%;
}

.pairs > .mediaBlurb.embed {
    /* width: 40%; */
    width: 100%;
}

.pairs:nth-child(even) > .contentBlurb {
    order: 2;
}
.pairs:nth-child(odd) > .contentBlurb {
    order: -1;
}
#bunny {
    flex-direction: column !important;
    justify-content: center;
}

#bunny img{
    width: 100px;
    /* width: auto; */
}

@media (max-width: 1043px) {
    .pairs > .contentBlurb {
        order: 1;
    }
    .pairs {
        flex-direction: column;
        justify-content: center;
        width: 95%;
    }
    .mediaBlurb, .contentBlurb {
        width: 100%;
    }
    .mediaBlurb > img {
        /* max-height: 40vh;
        width: auto; */
        
        text-align: center;
    }
}