.Robot {
    background: url("../assets/media/images/vanierland.png") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-y: auto;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.Robot > div > p {
    background-color: rgba(68, 56, 139, 0.877);
    padding: 40px 0px 40px;
    border-radius: 100px;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

.Robot > div:nth-child(3), 
.Robot > div:nth-child(14){
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.Robot > div:nth-child(3) > img {
    width: 50%;
}

.Robot > div:nth-child(4) {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.Robot > div:nth-child(14) > img {
    width: 30%;
}

@media (max-width: 500px) {
    .Robot > div:nth-child(3) > img, 
    .Robot > div:nth-child(14) > img {
        width: 100%;
    }
}